

<div id="game-frame">
  <div id="user-board" class="board">
    <div *ngFor="let userCell of getUserCells()" id="{{userCell.getIndexAsString()}}" [ngClass]="userCell.cssClass" (click)="onCellClick(userCell.getIndexAsString())"></div>
  </div>
  <div id="ai-board" class="board">
    <div *ngFor="let aiCell of getAICells()" id="{{aiCell.getIndexAsString()}}" class="cell" (click)="onCellClick(aiCell.getIndexAsString())"></div>
  </div>
  <div class="clear"></div>
  <div id="message-bar"></div>
  <div id="ships-overview"></div>
</div>
